## Santander product recommendation

### 모든 칼럼들에 대한 value 및 EDA 전처리, EDA 방향 잡기

About 'Primary customer'  
http://www.rhythmsystems.com/blog/what-is-the-difference-between-a-primary-and-secondary-core-customer

- fecha_dato(datetime) : 날짜 데이터(제대로 이해한게 맞다면 15-01-28 부터 16-05-28까지
- ncodpers(id) : 고객 번호(고유값?)
- ind_empleado(status_emplo) : 직원 상태
> A : 재직중
> B : 퇴사
> F : fillial(자식의?)
> N : 직원이 아님
> P : pasive?
- pais_residencia(residence) : 고객 거주지
- sexo(sex) : 고객 성별
- age(age) : 고객 나이
- fecha_alta(become_fh) : 고객이 은행에 first holder가 된 날
- ind_nuevo(new_or_not) : 새 고객인가 아닌가, 6개월 이내 등록했으면 새 고객
- antiguedad(seniority) : 고객 서열(월단위)
- indrel(pri_or_not) : 
> 1은 primary customer(구매의사가 충분한 고객?) 
> 99는 primary customer이다가 월말에는 primary customer가 아니게 됨
- ult_fec_cli_1t : primary customer 로써 마지막 date
- indrel_1mes(type_of_cus) : 월초의 고객 타입 
> 1 : Primary customer
> 2 : 공동 소유자
> P : 잠재 고객
> 3 : 이전 Primary 
> 4 : 이전 공동 소유자
- tiprel_1mes(relation_of_cus) :월초의 고객 관계
A : active
I : inactive
P : former customer
R : Potential
- indresi(resi_ind) : 
> S(Yes) or N(NO): 고객 거주지와 은행 위치가 **같은** 나라인가
- indext(foreign_ind) : 
> S(Yes) or N(NO) : 외국인의 출생국가와 은행 위치가 **다른가**?
- conyuemp(spouse) : 직원의 배우자 인가 아닌가 
> 1일 경우 직원의 배우자
- canal_entrada(?) : 고객이 조인하기 위해 사용되어진 채널?
- indfall : 죽은 고객?
- tipodom : 주소 타입
- cod_prov :  고객 주소(Province code)
- nomprov : province name
- ind_actividad_clie
> 1 : active customer
> 0 : inactive customer
- renta : gross income of the household(가정의 총 수입)
- segmento :
> 1 - VIP
> 2 - individuals
> 3 - college graduated
- ind_ahor_fin_ult1	Saving Account
- ind_aval_fin_ult1	Guarantees
- ind_cco_fin_ult1	Current Accounts
- ind_cder_fin_ult1	Derivada Account
- ind_cno_fin_ult1	Payroll Account
- ind_ctju_fin_ult1	Junior Account
- ind_ctma_fin_ult1	Más particular Account
- ind_ctop_fin_ult1	particular Account
- ind_ctpp_fin_ult1	particular Plus Account
- ind_deco_fin_ult1	Short-term deposits
- ind_deme_fin_ult1	Medium-term deposits
- ind_dela_fin_ult1	Long-term deposits
- ind_ecue_fin_ult1	e-account
- ind_fond_fin_ult1	Funds
- ind_hip_fin_ult1	Mortgage
- ind_plan_fin_ult1	Pensions
- ind_pres_fin_ult1	Loans
- ind_reca_fin_ult1	Taxes
- ind_tjcr_fin_ult1	Credit Card
- ind_valo_fin_ult1	Securities
- ind_viv_fin_ult1	Home Account
- ind_nomina_ult1	Payroll
- ind_nom_pens_ult1	Pensions
- ind_recibo_ult1	Direct Debit

- 스페인어로 된 columns name들을 영어로 바꾸는 건 어떨까

In [1]:
import pandas as pd
import seaborn as sns
import scipy as sp
import sklearn as sk
import matplotlib as mpl
mpl.use('Agg')
import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D


import numpy as np
import scipy as sp
import sklearn as sk

mpl.use('Agg')

%matplotlib inline

sns.set()

C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\Users\ledes\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\ledes\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 477, in start
    ioloop.IOLoop.instance().start()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\tornado\ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 235, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 196, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2698, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2802, in run_ast_nodes
    if self.run_code(code, result):
  File "C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2862, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-3e5c9dd1348d>", line 2, in <module>
    import seaborn as sns
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\__init__.py", line 6, in <module>
    from .rcmod import *
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\rcmod.py", line 8, in <module>
    from . import palettes, _orig_rc_params
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\palettes.py", line 12, in <module>
    from .utils import desaturate, set_hls_values, get_color_cycle
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\utils.py", line 11, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\ledes\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 72, in <module>
    from matplotlib.backends import pylab_setup
  File "C:\Users\ledes\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 14, in <module>
    line for line in traceback.format_stack()



C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\Users\ledes\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\ledes\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 477, in start
    ioloop.IOLoop.instance().start()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\tornado\ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 235, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 196, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2698, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2802, in run_ast_nodes
    if self.run_code(code, result):
  File "C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2862, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-3e5c9dd1348d>", line 2, in <module>
    import seaborn as sns
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\__init__.py", line 6, in <module>
    from .rcmod import *
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\rcmod.py", line 8, in <module>
    from . import palettes, _orig_rc_params
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\palettes.py", line 12, in <module>
    from .utils import desaturate, set_hls_values, get_color_cycle
  File "C:\Users\ledes\Anaconda3\lib\site-packages\seaborn\utils.py", line 11, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\ledes\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 72, in <module>
    from matplotlib.backends import pylab_setup
  File "C:\Users\ledes\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 14, in <module>
    line for line in traceback.format_stack()


  from ipykernel import kernelapp as app

In [3]:
#데이터 셋 불러오기
train = pd.read_csv("train_ver2.csv")
test = pd.read_csv("test_ver2.csv")

C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ledes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#데이터 column, row 파악
print("shape of train data : ", train.shape)
print("shape of test data : ", test.shape)

shape of train data :  (13647309, 48)
shape of test data :  (929615, 24)

### 칼럼별 Null 파악

In [ ]:
train.isnull().sum()

데이터의 대부분이 null 값인 column = ** ult_fec_cli_1t, conyuemp**

### 칼럼별 데이터 파악
- 시각화가 가능한 EDA : 앞 100만개를 자른 부분을 통해 국소적인 부분만 판단
- 시각화가 불가능한  EDA : 전체 데이터를 이용

In [ ]:
#전체 데이터 셋 이용한 데이터의 unique value  파악
try :
    for col in range(len(train.columns)) : 
        print("Number of unique value in {0}:{1}".format(train.columns[col],len(train[train.columns[col]].unique())))
except Exception as e:
    print(e)
    pass

## fecha_dato

In [ ]:
train["fecha_dato"].value_counts()

#### Comment
fecha_dato (date) : 
- 날짜 데이터, str 형태
- pandas의 datetime으로 활용가능
- ** 사실상 카테고리로 봐도 무방할 듯**

## ncodpers

In [ ]:
train["ncodpers"].value_counts()

In [ ]:
(train["ncodpers"].value_counts()).max()

#### Comment
ncodpers(id) : 
- 고객 개개인의 id로 볼 수있는 는 unique한 값이 아닌 중복되는 값이 존재 -> EDA과정에서 살펴볼 필요가 있음.
-  최대 17개까지 중복
- int 형태

## ind_empleado

In [ ]:
train["ind_empleado"].value_counts()

#### Comment
ind_empleado(emplo_status) : 
- 칼럼 값들의 대부분이 N을 가지고 있음
- str 형태인데 왜 int64라고 뜨지?
- 이정도 차이면 직원인지 아닌지에 따라 0과 1로 나누어도 되지 않을까

## pais_residencia

In [ ]:
train["pais_residencia"].value_counts()

#### Comment
pais_residencia(nationality) :
- 국적, CountryCode를 나타내는 듯
- 대부분의 값이 ES, 이정도 차이면 스페인인지 아닌지에 따라 0과 1로 나누어도 되지 않을까
- str 형태인데 왜 int64라고 뜨지?

## sexo

In [ ]:
train["sexo"].value_counts()

#### Comment
sexo(sex) :
- V : 여성, H : 남성 -> 여성의 수가 130만명가량 많은 편
- str형태인데 왜 int64라고 뜨지?

## age

In [ ]:
train["age"].value_counts()

In [ ]:
print("age의 null 개수 : ", train["age"].isnull().sum())
print("age의 value가 ' NA' 인 것의 개수 : ", len(train[train["age"] == ' NA']))

In [ ]:
train["age"].isnull().sum()

In [ ]:
def to_int(x) :
    if x == " NA" :
        result = None
    else :
        result = int(x)
        
    return result

In [ ]:
#value가 ' NA'인것을 제외한 후 int로 형 변환
train["age"] = train["age"].apply(to_int)

In [ ]:
print("age의 null 개수 : ", train["age"].isnull().sum())
print("나이가 가장 많은 고객 : ", train["age"].max())
print("나이가 가장 어린 고객 : ", train["age"].min())
print("100세 이상인 고객 : ", len(train[train["age"] >= 100]))
print("15세 미만인 고객 : ", len(train[train["age"] < 16]))

#### Comment
age(age) :
- ' NA', null값으로는 인식되지 않지만, 값이 없는 수치들 발견  
- to_int 함수를 제작
> str 형태들을 int 형으로 형변환  
> null값이나 마찬 가지인 ' NA' 들을 null 값으로 만들어줌

## fecha_alta

In [ ]:
train["fecha_alta"].value_counts()

In [ ]:
#최초거래일이 가장 빠른 고객의 날짜
pd.to_datetime(train["fecha_alta"]).min()

In [ ]:
#최초거래일이 가장 최근인 고객의 날짜
pd.to_datetime(train["fecha_alta"]).max()

#### Comment
fecha_alta(become_cus) : 
- str형태의 날짜 데이터
- fecha_dato와 함께 두 번째 날짜 데이터

## ind_nuevo

In [ ]:
train["ind_nuevo"].value_counts()

#### Comment
ind_nuevo(new_before_6) :
- 0이 대부분 -> 대부분의 고객이 새 고객이 아님
- 실수형 데이터

## antiguedad

In [ ]:
train['antiguedad'].value_counts()

In [ ]:
def func_for_antiguedad(x) :
    if x == '     NA' :
        result = None
    else :
        result = int(x)
        
    return result

In [ ]:
train['antiguedad'] = train['antiguedad'].apply(func_for_antiguedad)

#### Comment
antiguedad(seniority) : 
- 공백이 있는 형태의 str 타입 
- (-)가 있음을 발견(우선 방치)
- ** numeric 전환 후, unique value 개수가 507 -> 259개로 감소('12'와  '     12' 같은 값들이 하나로 합쳐짐) **

## indrel

In [ ]:
train["indrel"].value_counts()

#### Comment
indrel(primary_or_not) : 
- 1 일 경우 월초 primary, 99 일 경우 월말에는 primary가 아님
- 대부분이 월초 primary 상태

## ult_fec_cli_1t

In [ ]:
train["ult_fec_cli_1t"].value_counts()

#### Comment
ult_fec_cli_1t(last_primary) :
- 마지막으로 primary customer 였던 날짜
- 대부분이 null

## indrel_1mes

In [ ]:
train.shape

In [ ]:
train["indrel_1mes"].value_counts()

In [ ]:
#같은 값을 가져야 하지만, 타입이 달라 데이터가 분산되어 나옴 -> 통일
# 'P'를 제외한 모든 값들을 int로 형 변환
def func_for_indrel(x) :
    number = "0123456789"
    if type(x) == str :
        if x[0] in number :
            result = int(float(x))
        else :
            result = x
    else :
        result = x
    
    return result

In [ ]:
train["indrel_1mes"] = train["indrel_1mes"].apply(func_for_indrel)

#### Comment
indrel_1mes(type_of_cus) : 
- 같은 값이나, 서로 다른 타입으로 되어있던 값들을 하나의 값으로 통일 시켜줌
- 1이 압도적으로 많음

## tiprel_1mes

In [ ]:
train["tiprel_1mes"].value_counts()

#### Comment 
tiprel_1mes(relation_of_cus) : 
- 카테고리 설명에 없는 4개의 N 값 발견

## indresi

In [ ]:
train["indresi"].value_counts()

In [ ]:
train["indresi"].isnull().sum()

#### Comment
indresi(same_country) : 
- 특이사항 없음

## indext

In [ ]:
train["indext"].value_counts()

In [ ]:
train["indext"].isnull().sum()

#### Comment
- null 값이 27734로 동일한 칼럼이 많은 것을 발견

In [ ]:
#row별 null  개수를 확인...하려했으나 어찌된 일인지 이것도 수행하지 못해서 우선 패스
null_row = train.apply(lambda x: len(train.columns) - x.count(), axis=1)

## conyuemp

In [5]:
train["conyuemp"].value_counts()

N    1791
S      17
Name: conyuemp, dtype: int64

#### Comment
conyuemp(spouse) : 
-  배우자 여부이나, 대부분이 null

## canal_entrada

In [6]:
train["canal_entrada"].value_counts()

KHE    4055270
KAT    3268209
KFC    3098360
KHQ     591039
KFA     409669
KHK     241084
KHM     183924
KHD     116891
KHN     116608
KAS      86221
RED      75607
KAG      74295
KAY      67350
KAA      66656
KAB      62381
KAE      50764
KCC      49308
KBZ      46446
KHL      45128
KFD      44461
KAI      37699
KEY      35146
KAW      34275
KAR      32686
KAZ      32186
KAF      30559
007      29063
013      27139
KCI      26546
KAH      24875
        ...
004        210
KCQ        198
KDN        197
KCR        196
KDH        191
KCO        179
KEE        175
KCP        158
K00        152
KBE        147
KEQ        146
KFB        107
KAV        107
KCT        105
KBX        102
KBP         85
KEM         68
KCX         67
KFV         67
KBN         61
KHA         51
KGU         28
KGC         28
KDI         17
KDB         17
KGN         17
025         11
KDL         11
KHS          5
KHR          1
Name: canal_entrada, Length: 162, dtype: int64

In [9]:
train["canal_entrada"].isnull().sum()

186126

#### Comment
canal_entrada(channel) :
- 고객이 은행에 접촉하게 된 계기, 코드에 대한 이해는 아직 찾지 못함

## indfall

In [13]:
train["indfall"].value_counts()

N    13584813
S       34762
Name: indfall, dtype: int64

In [14]:
train["indfall"].isnull().sum()

27734

#### Comment
indfall(dead) : 
- 고객이 죽었나 살았나.
- 살아있는 사람이 대부분

## tipodom

In [16]:
train["tipodom"].value_counts()

1.0    13619574
Name: tipodom, dtype: int64

In [17]:
train["tipodom"].isnull().sum()

27735

#### Comment
tipodom(address) : 
- primary의 주소 타입, 전부 1
-  null값을 제외하고 전부 1, 어떻게 활용할까

## cod_prov

In [21]:
train["cod_prov"].value_counts()

28.0    4409600
8.0     1275219
46.0     682304
41.0     605164
15.0     429322
30.0     396759
29.0     367023
50.0     342543
3.0      313397
11.0     294684
36.0     280026
33.0     265749
47.0     238259
35.0     235700
6.0      192996
48.0     185888
45.0     183067
18.0     178562
37.0     164238
39.0     155706
14.0     144679
10.0     129912
7.0      124933
21.0     122283
13.0     119390
2.0      114128
12.0     104295
43.0     100115
9.0       97188
17.0      90538
31.0      88618
26.0      85202
27.0      84962
32.0      84009
24.0      83003
25.0      79059
20.0      71567
38.0      70968
19.0      64618
23.0      64363
4.0       60291
16.0      57310
49.0      50927
34.0      49282
40.0      42341
22.0      40181
5.0       38783
1.0       37704
44.0      22525
42.0      17660
52.0       9460
51.0       7218
Name: cod_prov, dtype: int64

![santander_prov_code](C:\Users\ledes\study\DNA_TeamProject\kang\santander_prov_code.jpg)